<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meat name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{bootstrap-4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{bootstrap-4.0.0/dist/js/bootstrap.min.js}" ></script>
    <script th:src="@{jquery-3.4.1.min.js}" type="text/javascript"></script>

    <title>Title</title>
</head>
<body>
    <div>hello spring boot</div>
</body>
</html>